<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Peeps</title>
</head>
<body>
<ul>
    {{range .}}
    {{$name := .Name}}
    {{$motto := .Motto}}
    <li>{{$name}} - {{$motto}}</li>
    {{end}}
</ul>
</body>
</html>