<!DOCTYPE html>
<html lang="en">
<head>
	<meta charset="UTF-8">
	<title>golang form example</title>
</head>
<body>
	{{if .Method}}
	<h2>HTTP method</h2>
	<p><em>{{.Method}}</em></p>
	{{end}}
	{{if .Submission}}
	{{range $key, $val := .Submission}}
		<h2>{{$key}}</h2>
		<ul>
			{{range $val}}
				<li>
					{{.}}
				</li>
			{{end}}
		</ul>
	{{end}}
	{{end}}
	<form action="/" method="post">
		<input type="text" name="fname">
		<input type="submit" value="Submit">
	</form>
</body>
</html>
